* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body,
.root {
  width: 100vw;
  height: 100vh;
}

.root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, #003 10%, #000 90%);
  pointer-events: none;
}

.root::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.06);
  pointer-events: none;
}

.root * {
  z-index: 2;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}

.title h1 {
  color: #fff;
}

.chat-container {
  width: 100%;
  max-width: auto;
  font-family: Arial, sans-serif;
}

.chat-box {
  height: auto  wehd  klwjefq;
  max-height: auto;
  overflow-y: scroll;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 8px 12px;
  margin: 6px 0;
  border-radius: 10px;
  max-width: 80%;
}

.message.user {
  background-color: #d1e7dd;
  align-self: flex-end;
  text-align: right;
  color: #000;
}

.message.bot {
  background-color: #fff3cd;
  align-self: flex-start;
  text-align: left;
  color: #000;
}

.chat-input {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 70px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
}

.chat-input button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 19px;
}
